/* ================================================================================================== */
/* tooltip */
/* ================================================================================================== */


.box-tooltip-config-one-click .RaTooltip{right:16px;}
.configOneClickBuy .RaTooltip{right:32px;}
.new-customer-address .buttons {float: right;}

/* master buttons */

.buttons{
	position:relative;
	overflow: visible;
}


.buttons:after {
	font-size:0;
	line-height:0;
	content:".";
	display:block;
	clear:both;
}


/* button */
.backButtons input.tooltip{
	margin:-5px 0 0 0;
	cursor:not-allowed!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity:0.3;
}


/* element */
.RaTooltip{
	width:150px;
	text-align:center;
	border:1px solid #ff6600;
	padding:8px 10px;
	position:absolute;
	top:-71px; right:0;
	background:#fff;
	display:none;
}
	.RaTooltip > p{margin:0; padding:0;}

/* control */

.RaTooltip .ctrl{
	width:24px;
	height:7px;
	background:url(../img/alert-box-arrow2.png) no-repeat 0 0 transparent;
	position:absolute;
	display:none;
	
}		
	.RaTooltip .ctrl.arrowBottom{
		bottom:-7px; left:72px;
		background-position:-40px 0;
		display:block;
	}

