/** BANNER LATERAL **/
.banner-lateral{border:1px solid; border-radius:6px;width:118px;min-height:228px;}
.banner-lateral .bl-productImg{display:block;}
.banner-lateral .bl-description{font-size:11px;display:block;}
.banner-lateral .bl-cont{display:block; padding:0 2px;text-align:center;}
.banner-lateral .bl-price{color:#565656;font-size: 12px;font-weight:bold;margin-top:8px;display:block;}
.banner-lateral .bl-name{font-size: 12px;margin-bottom: 3px;color:#FF6600;display:block;}
.banner-lateral .bl-info-boleto{display:block;font-size:10px;color:#444444;}
.banner-lateral .bl-link:hover, .banners04.banner-lateral .bl-link:hover * {text-decoration:none;}
.banner-lateral .bl-frete {margin:5px 0 3px 0;}

/** BANNER SUBSET **/
.banner-subset{min-height:290px;}
.banner-subset .bn-sub-cont{min-height:90px;display:block;overflow:hidden;border:1px #f99307 solid; border-radius:0 0 6px 6px;border-top:none;padding:0 2px;width:114px;}
.banner-subset .bn-sub-productImg{display:block;}
.bn-sub-regularPrice{display:block;font-size:10px;color:#1c56a5;}
.banner-subset .bn-sub-price{color:#565656;font-size:11px;}
.banner-subset .bn-sub-salePrice{color:#1c56a5;font-size:19px;}
.banner-subset .bn-sub-parcel{display:block;margin:7px 0 5px 0;font-size:10px;}
.banner-subset .bn-sub-parcel .bn-sub-parcel-price{font-size:11px;}
.banner-subset .bn-sub-parcel-juros{margin-bottom:8px;font-size:10px;display:block;}
.banner-subset .bn-sub-link:hover{text-decoration:none;}

/** BANNER SUBSET HOME **/
.banner-subsetHome{min-height:290px;}
.banner-subsetHome .bn-sub-link:hover{text-decoration:none;}
.banner-subsetHome .bn-sub-cont{min-height:90px;display:block;overflow:hidden;border-radius:0 0 6px 6px;padding:0 2px;width:114px;}
.banner-subsetHome .bn-sub-productImg{display:block;}
.banner-subsetHome .bn-sub-price{font-size:11px;}
.banner-subsetHome .bn-sub-salePrice{font-size:21px;letter-spacing:-2px;}
.banner-subsetHome .bn-sub-parcel{display:block;margin:7px 0 5px 0;font-size:11px;}
.banner-subsetHome .bn-sub-parcel-juros{margin-bottom:8px;font-size:10px;display:block;}
.banner-subsetHome .bn-sub-frete{display:block;margin-bottom:5px;}

/** BANNER LATERAL HOME **/
.banner-lateralHome{min-height:290px;}
.banner-lateralHome .bn-sub-link:hover{text-decoration:none;}
.banner-lateralHome .bn-sub-cont{min-height:90px;display:block;overflow:hidden;border-radius:0 0 6px 6px;padding:0 2px;width:114px;}
.banner-lateralHome .bn-sub-productImg{display:block;}
.banner-lateralHome .bn-sub-price{font-size:11px;}
.banner-lateralHome .bn-sub-salePrice{font-size:21px;letter-spacing:-2px;}
.banner-lateralHome .bn-sub-parcel{display:block;margin:7px 0 5px 0;font-size:11px;}
.banner-lateralHome .bn-sub-parcel-juros{margin-bottom:8px;font-size:10px;display:block;}
.banner-lateralHome .bn-sub-frete{display:block;margin-bottom:5px;}






/** PARCELA **/
.loja_price_parcela {position:absolute; bottom:48px; left:0;}
.price_parc {font-weight:bold; font-size:12px; color:#FF6600;}
.price_parc_valor {font-weight:bold; font-size:18px; color:#ff6600;letter-spacing:-1px;}
.price_parc_cent {font-weight:bold; font-size:15px; color:#ff6600;}
.price_parc_juros {font-size:12px; color:#FF6600;}
.price_de_por {position:absolute; bottom:89px; left:0px;}

/* PREÇO DE */
.loja_price_de {margin-right:12px;}
.price_de {font-size:12px; color:#666666;}
.price_de_valor {font-size:12px; color:#666666;}
.price_de_centavos {font-size:12px; color:#666666;}
.sup_de {font-size:11px;line-height:0;position:relative;vertical-align:baseline;top:-3px;}

/* 1º PREÇO POR */
.price_por {font-size:12px; color:#666666;}
.price_valor {font-weight:bold; font-size:32px; color:#ff6600; letter-spacing:-3px;}
.price_centavos {font-weight:bold; font-size:28px; color:#ff6600;}
.sup_por1_centavos {font-size:24px;line-height:0;position:relative;vertical-align:baseline;top:-14px;}
.price_por-boleto {padding-left:5px;}
.price_de_por .price_parc_juros {color:#666666;margin-left:5px;}


/** BACKGROUND LOJAS **/
.loja_bg{display:block; overflow:hidden; width:1004px; height:315px;}
.loja_bg.lj_rg{background:url(http://img.shoptime.com.br/hotsites/novo-destaque/destaque_loja_bg.jpg) no-repeat left top;}
.loja_bg.lj_fk{background:url(http://img.shoptime.com.br/hotsites/novo-destaque-fk/bg_fun_kitchen.jpg) no-repeat left top;}
.loja_bg.lj_lc{background:url(http://img.shoptime.com.br/hotsites/novo-destaque-lacuisine/bg_la_cuisine.jpg) no-repeat left top;}
.loja_bg.lj_lz{background:url(http://img.shoptime.com.br/hotsites/novo-destaque/bg_life_zone.jpg) no-repeat left top;}

/** SKIN DESTAQUE LOJA **/
.loja_prod {margin-top:32px; margin-left:229px;}
.loja_img {display:block; width:524px; height:315px; float:left;}
.loja_prod_amb {margin-top:0; margin-left:81px;}
.loja_img_amb {display:block; width:524px; height:315px; float:left;}
.loja_info {display:block; position:relative; width:480px; height:315px; float:right;}
.info_principal {position:absolute; bottom:186px; width:350px;}
.loja_lancamento {font-size: 18px; color: #ff6600; position:relative; display:block;}
.loja_titulo_linhas {font-weight: bold; font-size: 24px; color: #666666; width:350px;}
.loja_titulo {display:block; font-weight: bold; font-size: 24px; color: #666666;  width:350px; margin:5px 0 5px 0;}
.loja_desc {display:block; font-size: 12px; color: #666666; width:350px;}
.loja_frete, .loja_frete_teste{position:absolute; top:143px;}
.loja_frete_teste img{margin-right:5px;}
.banner .url:hover{text-decoration:none;}

/** SKIN DESTAQUE LOJA FUNKITCHEN **/
.lj_fk .loja_titulo, .lj_fk .loja_desc, .lj_fk .price_de, .lj_fk .price_de_valor, .lj_fk .price_de_centavos, .lj_fk .price_parc, .lj_fk .price_parc_valor, .lj_fk .price_parc_cent, .lj_fk .price_por-boleto, .lj_fk .price_parc_juros{color:#fff;}
.lj_fk .price_por, .lj_fk .price_valor, .lj_fk .price_centavos{color:#FFFF00;}
.lj_fk .price_parc_valor{font-size:18px;}
.lj_fk .price_de_por .price_parc_juros {color:#fff;margin-left:5px;}

/** SKIN DESTAQUE LOJA LA CUISINE **/
.lj_lc .loja_titulo, .lj_lc .loja_desc, .lj_lc .price_de, .lj_lc .price_de_valor, .lj_lc .price_de_centavos, .lj_lc .price_parc, .lj_lc .price_parc_valor, .lj_lc .price_parc_cent, .lj_lc .price_por-boleto, .lj_lc .price_parc_juros{color:#fff;}
.lj_lc .price_por, .lj_lc .price_valor, .lj_lc .price_centavos{color:#fff;}
.lj_lc .price_parc_valor{font-size:18px;}
.lj_lc .price_de_por .price_parc_juros {color:#fff;margin-left:5px;}

/** SKIN DESTAQUE LOJA LIFE ZONE **/
.lj_lz .loja_titulo, .lj_lz .loja_desc, .lj_lz .price_de, .lj_lz .price_de_valor, .lj_lz .price_de_centavos, .lj_lz .price_parc, .lj_lz .price_parc_valor, .lj_lz .price_parc_cent, .lj_lz .price_por-boleto, .lj_lz .price_parc_juros{color:#fff;}
.lj_lz .price_por, .lj_lz .price_valor, .lj_lz .price_centavos{color:#fff;}
.lj_lz .price_parc_valor{font-size:18px;}
.lj_lz .price_de_por .price_parc_juros {color:#fff;margin-left:5px;}

/** SKIN DESTAQUE LOJA CASA E CONFORTO **/
.lj_cc{width:1004px;height:315px;display:block;position:relative;}
.lj_cc .loja_info{width:295px;height:auto;display:block;position:absolute;bottom:10px;left:95px;}
.lj_cc .loja_img_selo{margin-bottom:5px;display:block;}
.lj_cc .box_loja_info{background:#fff;padding:10px;display:block;opacity:0.88;-moz-opacity: 0.88;filter: alpha(opacity=88);}
.lj_cc .info_principal{bottom:auto;position:relative;width:auto;display:block;margin-bottom:10px;}
.lj_cc .loja_titulo{font-size:16px;width:100%;}
.lj_cc .loja_desc{font-size:11px;width:100%;font-style:italic;}
.lj_cc .loja_frete_teste{display:block;margin:0 0 10px;overflow:hidden;position:relative;bottom:auto;top:auto;}
.lj_cc .price_de_por{position:relative;bottom:auto;left:auto;display:block;}
.lj_cc .loja_price_de{display:block;margin-bottom:2px;}
.lj_cc .price_valor{font-size:24px;color:#666;}
.lj_cc .loja_price_parcela{position:relative;bottom:auto;left:auto;display:block;margin-top:4px;}
.lj_cc .price_parc {color:#666;font-size:13px;font-weight:normal;}
.lj_cc .price_parc_juros {color:#666;font-size:9px;}
.lj_cc .price_parc_valor {color:#666;font-size:13px;}
.lj_cc .loja_dpto_price{position:relative;}


/** SKIN BANNERS LOJA HOME **/
/** SKIN CONTADOR LOJA HOME **/
.count-tit{width:197px;height:14px;background: url(http://img.shoptime.com.br/hotsites/destaque-contador/offer-sprite-oferta.png) no-repeat 0 0;}
.counter{width:197px;height:64px;position:absolute;right:225px;top:10px;}
.crono-box span{float:left;overflow:hidden;}
.crono-box .crono-hora{width:67px;height:51px;background: url(http://img.shoptime.com.br/hotsites/destaque-contador/offer-sprite-oferta.png) no-repeat 0 -15px;}
.crono-box #timeremh{font-weight:normal;color: #FFFFFF;font-size: 28px;left: 11px;letter-spacing:16px; position: relative;top:0;}
.crono-box .crono-minuto{width:66px;height:51px;background: url(http://img.shoptime.com.br/hotsites/destaque-contador/offer-sprite-oferta.png) no-repeat -67px -15px;}
.crono-box #timeremm{font-weight:normal;color: #FFFFFF;font-size: 28px;left: 9px;letter-spacing:16px; position: relative;top: 0;}
.crono-box .crono-segundo{width:64px;height:51px;background: url(http://img.shoptime.com.br/hotsites/destaque-contador/offer-sprite-oferta.png) no-repeat -132px -15px;}
.crono-box #timerems{font-weight:normal;color: #FFFFFF;font-size: 28px;left: 9px;letter-spacing:16px; position: relative;top: 0;}
.count-content{overflow:hidden;zoom:1;}
.next-offer{font-size:12px;color:#a3a3a3;padding-top:10px;text-align:right;}

/** SKIN DESTAQUE LOJA HOME **/
.lj_home_dest .loja_info{width:420px;}
.lj_home_dest .price_de_por{bottom:65px;}
.lj_home_dest .loja_price_de{display:block;font-size:12px;}
.lj_home_dest .loja_price_1por{display:block;}
.lj_home_dest .loja_price_1por .hm_price_por{font-size:12px;}
.lj_home_dest .loja_price_1por .hm_price_valor{font-size:35px;font-weight:bold;letter-spacing:-3px;}
.lj_home_dest .loja_price_parcela{display:block;font-size:12px;bottom:42px;}
.lj_home_dest .loja_price_parcela .hm_price_parc_valor{font-weight:bold;font-size:16px;}

.lj_home_middle{width:723px;height:232px;display:block;position:relative;}
.lj_home_middle .loja_info{width:415px;height:232px;}
.lj_home_middle .price_de_por{bottom:37px;font-size:13px;}
.lj_home_middle .hm_price_de_valor{letter-spacing:-1px;}
.lj_home_middle .loja_price_parcela{display:block;font-size:13px;bottom:10px;}
.lj_home_middle .loja_price_parcela .hm_price_parc_valor{font-weight:bold;}
.lj_home_middle .hm_price_valor{font-size:24px;font-weight:bold;letter-spacing:-2px;}
.lj_home_middle .hm_price_de, .lj_home_middle .hm_price_por, .lj_home_middle .hm_price_por-boleto{font-size:11px;}

.lj_home_estatic{width:334px;height:325px;display:block;position:relative;}
.lj_home_estatic .loja_info{width:334px;}
.lj_home_estatic .loja_frete_teste img {margin-right:1px;}
.lj_home_estatic .loja_frete_teste{top:255px;}
.lj_home_estatic .price_de_por{bottom:15px;font-size:13px;}
.lj_home_estatic .hm_price_valor{font-size:24px;font-weight:bold;letter-spacing:-2px;}
.lj_home_estatic .hm_price_de, .lj_home_estatic .hm_price_por, .lj_home_estatic .hm_price_por-boleto{font-size:11px;}
.lj_home_estatic .loja_price_parcela{display:block;font-size:13px;bottom:0px;}