.box3{
	background: none !important;
	padding:0 !important;
}

.shoptime-icones {
	background: url(http://img.shoptime.com.br/mktshop/site/header/img/shoptime-sprite-header-novo.png) 0 0 no-repeat transparent;
}

.shoptime-icones-expansivel {
	background: url(http://img.shoptime.com.br/mktshop/site/header/img/shoptime-sprite-expansivel.png) 0 0 no-repeat transparent;
}

.loucura {
	overflow: hidden;
	font-family: "Trebuchet MS", Arial, Verdana;
	min-width: 250px;
	}

.loucura .loucura-logo {
	background-position: 0 0;
	display: block;
	float: left;
	height: 75px;
	margin-top: 20px;
	text-indent: -999px;
	width: 101px;
}

.loucura .produto-destaque {
	text-align: center;
	padding: 6px 0;
}

.chamada-loucura span {
	display: block;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-transform: none;
}

.chamada-loucura .title1 {
	border-bottom: medium none;
	color: #495099;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
	margin:0;
	text-align: left;
}

.chamada-loucura .title2 {
	border-bottom: medium none;
	color: #495099;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
}

.loucura .desc-produto p {
	color: #666666;
	font-size: 11px;
	margin: 0;
}

.loucura-lk-prod:hover {
	text-decoration: none;
}

.loucura .desc-produto {
	margin: 10px 0 10px 10px;
	display: block;
}

.loucura .button a {
	text-indent: -9999em;
	display: block;
}

.loucura .btn-comprar {
	background-position: 0 -83px;
	display: block;
	height: 35px;
	width: 98px;
	margin-left: 10px;
}

.loucura .produto-destaque img {
	width: auto;
	height: auto;
}

.loucura .chamada-loucura{
	float:left !important;
	width: 120px;
	margin: 22px 0 0 15px;
}

.loucura .chamada-loucura, .loucura .chamada-loucura, .loucura .produto-destaque, .loucura .name-prod, .loucura desc-produto {
	display: block;
}

.loucura .desc-produto .name-prod {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	text-align: left;
}

.loucura a:hover {
	text-decoration: none;
}

* + html .flag-new {
	display: inline;
	zoom: 1;
}

#page {
	width: 1004px !important;
}

.autoComplete {
	border-width: 0 1px 1px;
	background: #f7f7f8;
	border-color: #2b74c1;
	margin-left: -1px;
	border-radius: 0 0 5px 5px;
}

.autoComplete .autoCList a {
	color: #9d9db6;
}

.autoComplete .autoCList {
	border: none;
}

.autoComplete .autoCList li {
	border-top: 1px solid #fff;
}

.autoCList .ac_over a, .autoCList li.selected a {
	color: #2b74c1;
	background-color: transparent;
	border: none;
}

.ic-header-cart {
	background-position: -1px -55px;
	height: 30px;
	width: 31px;
	float: right;
	margin: 2px 5px 0 0;
	text-indent: -9999em;
}

.ic-headerbrand-casaconforto {
	background-position: -111px -46px;
	display: block;
	height: 20px;
	text-indent: -9999em;
	width: 163px;
}

.ic-headerbrand-funkitchen {
	background-position: -111px -4px;
	display: block;
	height: 40px;
	text-indent: -9999em;
	width: 105px;
}

.ic-headerbrand-lacuisine {
	background-position: -110px -69px;
	display: block;
	height: 21px;
	text-indent: -9999em;
	width: 145px;
}

.ic-headerbrand-lifezone {
	background-position: -112px -95px;
	display: block;
	height: 23px;
	width: 105px;
	text-indent:-9999em;
}

.ic-mainnav-all {
	height: 7px;
	width: 7px;
	position: absolute;
	right: 10px;
	top: 17px;
	background-position: -200px -62px;
	text-indent: -9999em;
}

/* headerlayer */
.headerlayer-controller {
	position: relative;
}

.headerlayer-controller > .headerlayer-container {
	display: none;
}

.headerlayer-controller.is-actived > .headerlayer-container,
.headerlayer-controller:hover > .headerlayer-container {
	display: block;
	text-decoration:none;
}

.headernavlayer {
	border: 3px solid #495099;
	padding: 15px 30px 10px;
	position: absolute;
	top: 100%;
	background: #fff;
	z-index: 9999;
}

.layerleft:after {
	content: " ";
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	left: 15px;
	top: 0;
	border: 5px solid transparent;
	border-top: 7px solid #495099;
}

.headernavlayer.layerleft {
	left: 0;
}

.mnaux-it-info .headernavlayer.layerleft {
	left: 5px;
}

.headernavlayer.layerright {
	right: 0;
}

.layerright:after {
	content: " ";
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 0;
	border: 5px solid transparent;
	border-top: 7px solid #495099;
}

#header-mainnav-all .layerleft:after {
	left: 98px;
}

.headernavlayer.has-headernavlayer-aside {
	padding-right: 288px;
}

.headerlayer-aside {
	border-left: 1px solid #495099;
	float: right;
	height: 455px;
	margin-right: -290px;
	padding: 35px 0 0 10px;
	width: 270px;
}

.headerlayer-aside .loucura .chamada-loucura{
	margin-bottom:30px;
}

.headerlayer-aside .loucura .desc-produto {
	display: block;
	margin: 30px 0 20px 10px;
}

.headerlayer-top,
.headerlayer-bottom {
	overflow: hidden;
}

.headerlayer-top {
	padding: 0 0 15 px;
}

.headerlayer-columns {
	overflow: hidden;
	white-space: nowrap;
	font-size: 13px;
}

.headerlayer-column {
	vertical-align: top;
	display: inline-block;
	margin-right: 50px;
}

.headerlayer-column.space-hdlayer-column {
	padding-top: 6px;
}

.headerlayer-columns a {
	color: #666;
}

.headerlayer-column a:hover {
	color: #ff9c5a;
	text-decoration: none;
}

.headerlayerlist-title {
	color: #0d4d91;
	margin-bottom: 7px;
	font-weight: bold;
}

.headerlayerlist-item {
	margin: 14px 0;
}

.headerlayerlist-item .flag-new {
	background-position: -243px 0;
	display: inline-block;
	height: 25px;
	margin-left: 3px;
	text-indent: -9999px;
	vertical-align: middle;
	width: 25px;
}

.headerlayer-seemore {
	overflow: hidden;
	text-transform: lowercase;
}

.headerlayer-seemore a {
	color: #ff9c5a;
	font-weight: bold;
}

.headerlayer-seemore a:hover {
	color: #495099;
	text-decoration:none;
}

#header {
	margin: 40px 0 0 0;
	background: #fff;
	height: 120px;
	position: static;
	font: normal 11px "Trebuchet MS", Verdana;
}

#header-top {
	background: #fff;
	position: relative;
	padding-top: 15px;
}

#header-logo {
	float: left;
	width: 190px;
	height: 50px;
	margin: -10px 15px 0;
}

#logo-site {
	background: url(http://img.shoptime.com.br/mktshop/site/header/img/shoptime-sprite-header.png) no-repeat 0 0;
	height: 53px;
	width: 206px;
	display: block;
	text-indent: -9999em;
}

/* busca */
#header-search {
	position: absolute;
	left: 420px;
	right: 255px;
	top: 15px;
}

#header-search-form {
	background: #f7f7f8;
	border: 1px solid #6e9bff;
	padding: 5px 35px 5px 0px;
	position: relative;
}

#header-search-submit {
	background: #6e9bff url(http://img.shoptime.com.br/mktshop/site/header/img/header2.png) no-repeat -159px -52px;
	border: 1px solid #6e9bff;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35px;
	cursor: pointer;
	text-indent: -999em;
}

#header-search-lbl {
	display: none;
}

#header-search-input {
	border: none;
	padding: 0;
	outline: 0;
	background: #f7f7f8;
	width: 100%;
	height: 20px;
	-webkit-appearance: none;
	text-indent: 5px;
}

#header-userbox {
	width: 190px;
	position: absolute;
	left: 230px;
	top: 15px;
	font-size: 14px;
	line-height: 17px;
	color: #bcbccf;
	padding-left: 12px;
}

#header-userbox a {
	color: #495099;
	font-weight: bold;
}

#header-userbox-username {
	color: #f79f1a;
}

#header-userbox-container #header-userbox-loggedin,
#header-userbox-container.is-logged #header-userbox-loggedout {
	display: none;
}

#header-userbox-container.is-logged #header-userbox-loggedin {
	display: block;
}

#header-userbox-loggedin,
#header-userbox-loggedout {
	font-size: 10px;
}

/* carrinho e pedidos */
#header-cart,
#header-orders {
	width: 140px;
	float: right;
	height: 50px;
	color: #495099;
	margin-left: 10px;
	margin: 1px 5px 0 0;
}

#header-orders {
	width: 88px;
	height: auto;
	padding-left: 10px;
	border-left: 1px dotted #c0c0c0;
	font-size: 14px;
	margin-top: 1px;
}

#header-orders a{
	display: block;
	color: #666666;
	line-height: 15px;
}

#header-cart-button,
#header-orders-button {
	color: #495099;
	border-left: 1px dotted #c0c0c0;
	padding-left: 10px;
	display: block;
	height: 30px;
}

#header-cart-title,
#header-orders-title {
	font-size: 14px;
	display: block;
}

#header-cart-counter {
	font-size: 10px;
	display: block;
	text-transform: uppercase;
}

/* loucura do dia */
#header-auxnav {
	position: absolute;
	top: 70px;
	right: 0;
}

#header-auxnav-button {
	background-color: #495099;
	display: block;
	height: 29px;
	padding-top: 5px;
	width: 170px;
}

#header-auxnav-title{
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	padding-top: 5px;
	height:20px;
	float:left;
}

#header-auxnav-title:hover{
	text-decoration:none;
}

#header-auxnav .ic-auxnax-seta{
	background-position: -200px -63px;
	float: left;
	height: 4px;
	margin-left: 10px;
	margin-top: 13px;
	text-indent: -9999em;
	width: 7px;
}



/* menu principal todos as lojas */
#header-mainnav {
	position: absolute;
	top: 70px;
	left: 0;
	right: 180px;
	height: 35px;
	font-size: 12px;
	text-decoration:none;
}

#header-mainnav-all {
	width: 120px;
	display: inline-block;
	float: left;
	position: relative;
	z-index: 10;
	text-decoration:none;
}

#header-mainnav-all .headernavlayer {
	width: 680px;
}

#header-mainnav-button {
	background: #495099;
	width: 100%;
	height: 32px;
	display: inline-block;
	border: 1px solid #495099;
	color: #fff;
	font-weight: bold;
	text-decoration:none;
}

#header-mainnav-title {
	display: inline-block;
	padding: 9px 10px 0;
	text-decoration:none;
}

/* menu auxiiar de navegacao */
#header-mainnav-aux {
	background: #ff9c5a;
	height: 32px;
	border: 1px solid #ff9c5a;
	color: #fff;
	margin-left: -5px;
	display: inline-block;
	position: relative;
	z-index: 5;
}

.mainnavaux-item {
	display: inline-block;
	height: 34px;
	margin: -1px -1px 0 0;
	position: relative;
}

.mainnavaux-item-button {
	height: 100%;
	display: inline-block;
	font-weight: bold;
}

.mainnavaux-item-title {
	padding: 0 9px;
	border-left: 1px solid #ef8512;
	color: #fff;
	display: inline-block;
	margin-top: 9px;
	text-decoration:none;
}

.mainnavaux-item:hover .mainnavaux-item-button {
	background: #495099;
	text-decoration:none;
}

.mainnavaux-item:hover .mainnavaux-item-title {
	border-color: #1a62ae;
	text-decoration:none;
}

/* marcas no menu */
#mainnavbrands-title {
	border-bottom: 1px solid #495099;
	margin-bottom: 10px;
}

#mainnavbrands-titlespan {
	background: #fff;
	padding-right: 10px;
	color: #ff9c5a;
	font-size: 13px;
	position: relative;
	top: 7px;
}

#mainnavbrands-list {
	white-space: nowrap;
}

.mainnavbrands-item {
	display: inline-block;
	margin-right: 45px;
	overflow: hidden;
	position: relative;
	top: -14px;
}

#header-bottom {
	background: #6E9BFF;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	border-bottom: 1px solid #FFF;
	overflow: hidden;
	z-index: 9999;
}

#header-helpdesk {
	width: 1004px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	color: #ffffff;
	font-size: 10px;
}

.has-helpdesk-ico .header-ico {
	margin: -10px 3px 0 -25px;
}

.ic-helpdesk-chat {
	height: 20px;
	width: 20px;
	background-position: -131px -55px;
}

.ic-helpdesk-phone {
	height: 20px;
	width: 20px;
	background-position: -93px -55px;
}

.helpdesk-phone {
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	padding-right: 5px;
	text-transform: capitalize;
}

.helpdesk-content {
	display: inline-block;
	font-size: 9px;
}

.helpdesk-content {
	display: inline-block;
	font-size: 9px;
	vertical-align: top;
}

.helpdesk-tv .helpdesk-content {
	vertical-align: middle;
}

.helpdesk-ligue,
.helpdesk-atendimento {
	float: right;
	width: 210px;
	border-left: 1px solid #fff;
	padding-top: 7px;
	padding-left: 35px;
	height: 100%;
	text-transform: uppercase;
}

.helpdesk-ligue {
	width: 290px;
}

.helpdesk-tv .helpdesk-content {
	font-size: 10px;
}

.helpdesk-tv {
	float: right;
	width: 290px;
	padding-top: 3px;
	height: 100%;
	text-transform: uppercase;
}

.ic-helpdesk-tv {
	height: 25px;
	width: 25px;
	background-position: -48px -55px;
	vertical-align: bottom;
	margin-right: 10px;
}

.helpdesk-ligue .hdl-link, .helpdesk-atendimento .hda-link {
	color: #ffffff;
	cursor: pointer;
	display: block;
	height:40px;
}

.hdl-link:hover, .hda-link:hover {
	text-decoration: none;
}

.ic-header-seemore {
	background-position: -220px -1px;
	float: left;
	height: 20px;
	margin: 0 5px 0 0;
	text-indent: -9999em;
	vertical-align: middle;
	width: 19px;
}

.headerlayer-column a:hover .ic-header-seemore {
	background-position: -220px -22px;
	text-decoration:none;
}

.headerlayer-column .headerlayer-seemore-02 {
	color: #ff9c5a;
	font-size: 13px;
	font-weight: bold;
	margin: 40px 0 10px 0;
}

.mnaux-it-info .headernavlayer {
	width: 387px;
}

.mnaux-it-eletrodom .headernavlayer {
	width: 354px;
}

.mnaux-it-eletropo .headernavlayer {
	width: 320px;
}

.mnaux-it-ud .headernavlayer {
	width: 340px;
}

.mnaux-it-ud .headernavlayer.layerleft:after {
	left: 55px;
}

.mnaux-it-cameba .headernavlayer {
	width: 344px;
}

.mnaux-it-eletro .headernavlayer {
	width: 280px;
}

#header-mainnav-all .loucura {
	width: auto !important;
}

.header-ico {
	*display: block;
}

.headerlayer-column {
	*float: left;
	*white-space: normal;
	*margin-right: 25px;
}

#header {
	*position: relative;
}

.mainnavaux-item {
	*display: inline;
	*text-indent: 0;
}

#header-bottom {
	*top: -40px;
	*width: 100%;
}

.has-helpdesk-ico .header-ico {
	*margin: 3px 3px 0 -25px;
	*float: left;
	}

.helpdesk-tv .helpdesk-content {
	*margin-top: 10px;
}

.ic-helpdesk-tv {
	*float: left;
}

.mainnavbrands-item {
	*display: inline;
	*margin-top: 10px;
}

.mainnavbrands-item .header-ico {
	*padding-top: 45px;
	*display: block;
	*height: 0;
}

.ic-headerbrand-casaconforto {
	*background-position: -111px -46px;
	*display:block;
	*height: 20px;
	*width: 163px;
}

.ic-headerbrand-funkitchen {
	*background-position: -111px -4px;
	*display:block;
	*height: 40px;
	*width: 105px;
}

.ic-headerbrand-lacuisine {
	*background-position: -110px -69px;
	*display:block;
	*height: 21px;
	*width: 145px;
}

.ic-headerbrand-lifezone {
	*background-position:  -112px -95px;
	*height: 23px;
	*width: 105px;
}

.header-ico.ic-header-seemore {
	*display: inline;
	*text-indent: 0;
}

.headerlayer-column .ic-headerbrand-funkitchen {
	*height:40px;
}

.headerlayer-column .ic-headerbrand-lacuisine {
	*height: 21px;
}

.headerlayer-column .ic-headerbrand-casaconforto {
	*height:20px;
}

.ic-header-seemore {
	*background-position: -220px -1px;
}

.headerlayer-column a:hover .ic-header-seemore {
	*background-position: -220px -22px;
}

.mnaux-it-eletropo .headernavlayer {
	width: 350px;
	*width: 350px;
}


.headerlayer-controller .ic-auxnax-logoloucura{
	background-position: -145px -87px;
	float: left;
	height: 25px;
	margin-left: 10px;
	width: 25px;
}

/* SHP_COMPONENT */
.title1:after {
	border:none !important;
}

/* CATEGORIAS */
#mainnavbrands-titlespan {
	font-weight: bold !important;
}

#mainnavaux li:nth-child(0) .headernavlayer {
	display: block !important;
}

#mainnavaux li .headernavlayer {
	width: auto !important;
	height: 380px;
	padding: 0 !important;
}

#mainnavaux li .headernavlayer .headerlayer-column {
	padding: 15px 0px 0px 0 !important;
	width: 174px !important;
	margin-right: 15px !important;
}

#mainnavaux li .headernavlayer .headerlayer-column:first-child {
	padding-left: 30px !important;
}

#mainnavaux li .headernavlayer .bannerOAS {
	width: 230px !important;
	margin: 0 !important;
	padding: 0 !important;
}
#mainnavaux li .headernavlayer .headerlayer-column .headerlayerlist-item {
	margin: 0px 0 10px 0 !important;
}

/* CAT CAMA MESA */
.mnaux-it-cameba .layerleft:after {
	left: 60px !important;
} 

/* CAT TELEFONES */
.mnaux-it-telefones .headernavlayer {
	left: -136px !important;
}

.mnaux-it-telefones .layerleft:after {
	left: 190px !important;
} 

/* CAT ELETRONICOS */
.mnaux-it-eletro .headernavlayer {
	left: -230px !important;
}

.mnaux-it-eletro .layerleft:after {
	left: 260px !important;
} 

/* CAT ELETROPORTATEIS */
.mnaux-it-eletropo .headernavlayer {
	right: -417px !important;
}
.mnaux-it-eletropo .layerright:after {
	right: 460px !important;
} 

/* CAT ELETROPORTATEIS */
.mnaux-it-info .headernavlayer {
	right: -146px !important;
}
.mnaux-it-info .layerright:after {
	right: 180px !important;
} 

/* CAT UTILIDADES */
.mnaux-it-ud .layerright:after {
	right: 65px !important;
} 

#shoptime-header-top-13 .shoptime-icones {
	background: url(http://img.shoptime.com.br/mktshop/site/header/img/shoptime-sprite-header.png) 0 0 no-repeat transparent;
}

#shoptime-header-top-13{
	background: none repeat scroll 0 0 #6e9bff;
	border-bottom: 1px solid #FFFFFF;
	height: 40px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999;
}

#shoptime-header-top-13 #shoptime-header-heldesk{
	color: #FFFFFF;
	font-size: 10px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 1004px;
	font-size: 10px;
}

#shoptime-header-top-13 .helpdesk-box.helpdesk-tv,
#shoptime-header-top-13 .helpdesk-box.helpdesk-ligue-compre,
#shoptime-header-top-13 .helpdesk-box.helpdesk-atendimento,
#shoptime-header-top-13 .helpdesk-box.helpdesk-banner-oas{
	float: left;
	text-transform: uppercase;
	height: 100%;
	overflow: hidden;
	padding:0;
}

/*TV*/

#shoptime-header-top-13 .helpdesk-box.helpdesk-tv{
	width:270px;
}

#shoptime-header-top-13 .shoptime-icones.icone-helpdesk-tv{
	display:block;
	height:21px;
	width:29px;
	text-indent: -9999px;
	float:left;
	background-position: -81px -55px;
	margin: 10px 10px 0;
}

#shoptime-header-top-13 .helpdesk-tv-content{
	margin-top: 5px;
	display:block;
}

/*TV FIM*/

/*LIGUE E COMPRE*/

#shoptime-header-top-13 .helpdesk-box.helpdesk-ligue-compre{
	width:355px;
	border-left: 1px solid #FFF;
}

#shoptime-header-top-13 .shoptime-icones.icone-ligue-compre{
	display: block;
	height: 23px;
	width: 22px;
	text-indent: -9999px;
	float: left;
	background-position: -150px -55px;
	margin: 8px 5px 0 10px;
}

#shoptime-header-top-13 .helpdesk-ligue-phone{
	font-size: 20px;
	color: #FFF;
	display:block;
	margin: 7px 4px 0 0;
	text-transform: capitalize;
	float:left;
}

#shoptime-header-top-13 .helpdesk-ligue-24h{
	background-color: #FF9C5A;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 11px 5px 0 0;
	padding: 0 2px;
	text-transform: capitalize;
}

#shoptime-header-top-13 .helpdesk-ligue-content{
	color: #FFF;
	display:block;
	margin: 12px 0 0 0;
	float:left;
	font-size:9px;
}
/*LIGUE E COMPRE FIM*/	


/*ATENDIMENTO*/	
#shoptime-header-top-13 .helpdesk-box.helpdesk-atendimento{
	width:175px;
	border-left: 1px solid #FFF;
}

#shoptime-header-top-13 .shoptime-icones.icone-atendimento{
	display: block;
	height: 23px;
	width: 25px;
	text-indent: -9999px;
	float: left;
	background-position: -119px -55px;
	margin: 11px 10px 0;
}
/*
#shoptime-header-top-13 .helpdesk-atendimento-phone{
	font-size: 20px;
	color: #FFF;
	display:block;
	margin: 7px 0 0 0;
	text-transform: capitalize;
	float:left;
}*/

/*ATENDIMENTO FIM*/

/*BANNER OAS*/	
#shoptime-header-top-13 .helpdesk-box.helpdesk-banner-oas{
	width: 200px;
	overflow:hidden;
	text-align:right;
}

/*BANNER OAS FIM*/



