/* DESTAQUE PRODUTO */
#shoptimetv-pdest {
	width:468px;
	float: left;
	font-size: 12px;
}
#shoptimetv-pdest .lt-pd-prod-photo {
	float: left;
	width: 251px;	
	margin-right: 30px;
}
#shoptimetv-pdest .lt-pd-prod-title {
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
#shoptimetv-pdest .lt-pd-prod-pricede {
	display: block;
}
#shoptimetv-pdest .lt-pd-prod-pricepor {
	display: block;
	margin-bottom: 10px;
}
#shoptimetv-pdest .lt-pd-prod-priceparc {
	display: block;
	color:#ff9d52;
	font-size: 16px;
}
#shoptimetv-pdest .lt-pd-prod-priceparc .lt-pd-prod-price-cond {
	font-size: 12px;
}

#shoptimetv-divisoria {
	float: left;
	width: 1px;
	height: 248px;
	border-left: #4a4e98 solid 1px;  
	margin: 0 39px;
	margin-top: 20px;
}


/* CARROSEL LISTA */
.wrapper-productstv {
	height: 318px;
	width: 1004px;
	overflow: hidden;
}

/** Carousel **/

.list_carousel {
    width: 406px;
    float:left;
    position: relative;
    margin-left: 20px;
}

.list_carousel ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_carousel li {
    float: left;
    width: 150px;
    margin-right: 54px;
}
.list_carousel li img {
    width: 148px;
}
.list_carousel li .hproduct .url {
	
}

/** Carousel Controls **/

.list_carousel .prev,
.list_carousel .next {
    position: absolute;
    top: 120px;
    width: 23px;
    height: 27px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    z-index: 9999;
    text-indent: -999px;
	overflow: hidden;
}

.list_carousel .prev {
    left: -30px; 
    background: url(http://img.shoptime.com.br/imagens/home-2013/images/arrow-blue-left.gif) no-repeat;
}

.list_carousel .next {
    right: -30px;
    background: url(http://img.shoptime.com.br/imagens/home-2013/images/arrow-blue-right.gif) no-repeat;
}

