div.autoComplete
{
	display: none!important;
}

/* alteração no site do shoptime */

form.search_neemu_autocomplete input#header-search-input
{
	color: #9A9A9A!important;
	font-size: 14px!important;
	padding-left: 0 !important;
}

form#header-search-form, form#header-search-form input#header-search-input
{
	background-color: #fff!important;
	padding-left: 0 !important;
}

form#header-search-form input#header-search-input
{
	font-size: 14px!important;
	text-indent: 0!important;
}

form#header-search-form
{
	padding-left: 20px!important;
}

/* fim da alteração no site do shoptime */

span.neemuac-category
{
	color: #333333;
	font-weight: bold;
}

div.neemu_ac_content_all_type2
{
	/*background: url(../imagens/busca_autocomplete.gif) no-repeat left bottom;*/
	margin-right: 1px;
}

div.neemu_ac_content_all_type2_intern
{
	/*background: url(../imagens/busca_autocomplete.gif) no-repeat right bottom;*/
	margin-left: 1px;
	margin-right: -1px;
}

div.neemu_ac_content_all_type2 div.neemu_ac_content_sugest
{
}

div.neemu_ac_content_all_type2 div.neemu_ac_content_prods
{
	padding: 5px 0;
}

div.neemu_ac_content_all_type2 div.neemu_ac_content_sugest li.ac_over,
div.neemu_ac_content_all_type2 div.neemu_ac_content_sugest li.ac_over span.ac_match,
div.neemu_ac_content_all_type2 div.neemu_ac_content_sugest li.ac_over .preco_autocomplete,
div.neemu_ac_content_all_type2 div.neemu_ac_content_sugest li.ac_over span.neemuac-category
{
	background-color: #2377ba!important;
	color: #ffffff!important;
}

div.neemu_ac_content_all_type2 div.neemu_ac_content_prods li.ac_over,
div.neemu_ac_content_all_type2 div.neemu_ac_content_prods li.ac_over span.ac_match,
div.neemu_ac_content_all_type2 div.neemu_ac_content_prods li.ac_over .preco_autocomplete
{
	background-color: #ebebeb!important;
}

div.neemu_ac_content_all_type2 a.close_sugest
{
	/*color: #fff;
	font-size: 11px;
	float: right;*/
	display: none;
}
div.neemu_ac_content_all_type2 a.close_sugest:hover
{
	text-decoration: none;
}

div.neemu_ac_content_all_type2 li
{
	padding-left: 0 !important;
}

ul.ac_results
{
	border: 1px solid #6e9bff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	padding: 5px 0 0 0;
	margin: 3px 0 0 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
	font-family: "Trebuchet MS", Arial;
}
ul.ac_results .label
{
	border-top: 1px dotted #f0771d;
	padding: 7px 12px;
	margin: 4px 0 4px -1px;
	color: #f0771d;
	font-size: 12px;
	font-weight: bold;
}
ul.ac_results li
{
	padding: 3px 8px;
	color: #333333;
	text-align: left;
	font-size: 14px;
	/*overflow: auto;*/
}
ul.ac_results li img
{
	width: 80px;
}

ul.ac_results li.ac_over,
ul.ac_results li.ac_over *,
ul.ac_results li.ac_over span.ac_match
{
	cursor: pointer;
}

ul.ac_results li.ac_over,
ul.ac_results li.ac_over span.ac_match
{
	font-weight: normal !important;
}

ul.ac_results span.seta_dir
{
	/*float: right;
	*float: none;
	color: #fff;
	font-size: 16px;
	margin-left: 4px;*/
	display: none;
}

/* over dos itens */

span.ac_match
{
	color: #9A9A9A;
	font-weight: normal;
}

/* resultados de sugestão de autocomplete */

ul.ac_results li .neemu_ac_container_sugestoes
{
	min-height: 20px;
	padding-left: 19px;
}
ul.ac_results li .neemu_ac_container_sugestoes .nome_autocomplete
{
	padding: 3px 0;
	font-size: 14px;
	line-height: 15px;
}

ul.ac_results li.li_sugestao
{
	padding: 1px 20px;
	margin: 0 1px 0 0;
	color: #333333;
	/*overflow: auto;*/
}

/* fim dos resultados de sugestão de autocomplete */

/* resultados de produtos */

ul.ac_results li .neemu_ac_container
{
	clear: both;
	padding-left: 19px;
}
ul.ac_results li .neemu_ac_container .imagem_autocomplete
{
	float: left;
	margin: 15px 0px;
}
ul.ac_results li .neemu_ac_container .nome_autocomplete
{
	padding-top: 10px;
	margin-left: 95px;
	font-size: 11px;
	line-height: 13px;
}
ul.ac_results li .neemu_ac_container .preco_autocomplete
{
	padding-top: 8px;
	margin-left: 15px;
	color: #f0771d;
	font-size: 14px;
	font-weight: bold;
	float:left;
}

ul.ac_results li .neemu_ac_container .preco_autocomplete label
{
    clear:both;
    display:block;
}
ul.ac_results li .neemu_ac_container .neemu_ac_preco_de
{
    color: #666;
    font-size: 11px;
    font-weight: normal;
}

ul.ac_results li .neemu_ac_container .neemu_ac_preco_de strong
{
    text-decoration:line-through;
    font-weight:normal;
}

ul.ac_results li .neemu_ac_container .neemu_ac_preco_por
{
    color: #666;
    font-size: 14px;
    font-weight:bold;
}
ul.ac_results li .neemu_ac_container .neemu_ac_parcelas
{
    margin:2px 0 5px 0;
    font-size:13px;
    font-weight:normal;
}

ul.ac_results li .neemu_ac_container .rating_autocomplete
{
	padding-top: 4px;
}

ul.ac_results li .neemu_ac_container .rating_autocomplete span
{
    font-size: 12px;
}

ul.ac_results li .neemu_ac_container span.neemuac_unavailableprod
{
    padding-top: 8px;
    margin-left: 15px;
    color: #c00;
    float: left;
    font-size: 11px;
    font-weight: bold;
}

ul.ac_results li.li_sugestaoprod
{
	padding: 6px 20px;
	margin: 0 1px 0 0;
	overflow: hidden;
}

ul.ac_results div.neemuac-loading,
ul.ac_results div.neemuac-no-results
{
    padding: 10px 5px 25px 0;
    text-align: center;
    clear: both;
}

ul.ac_results div.neemuac-loading
{
    height: 35px;
}

ul.ac_results div.neemuac-no-results
{
    color: #666;
    font-size: 13px;
}

/* fim dos resultados de produtos */

#close-autocomplete {
    font-size: 11px;
    line-height: 7px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 8px;
    height: 9px;
    display: block;
    width: 9px;
    float: left;
    padding: 4px;
    display:none;
    cursor:pointer;
}

#close-autocomplete:hover {
    color:#2377ba;
}

input[type=search] {
    -webkit-appearance:textfield;
    -webkit-box-sizing:content-box;
}
 
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
