
#nav-top {
	position: absolute;
	background: #6E9BFF; 
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	border-bottom: 1px solid #FFF;
	z-index: 9999;
}


  #nav-top li {
	display: inline-block;
    font-family: Futura, Tahoma, sans-serif;
	color: #FFF;

}

#page {
	min-width:76.5em;
	max-width:1004px;
	margin:0 auto;
	padding: 10px 5px 30px 5px;
	_zoom:1;
}

#header {
	margin: 40px 0 0 0;
	background: #fff;
	height: 120px;
	position: static;
	font: normal 11px "Trebuchet MS", Verdana;
}

#header-top {
	background: #fff;
	position: relative;
	padding-top: 15px;
}

#header-logo {
	float: left;
	width: 190px;
	height: 50px;
	margin: -10px 15px 0;
}

#header-search {
	position: absolute;
	left: 420px;
	right: 255px;
	top: 15px;
}

#header-userbox {
	width: 190px;
	position: absolute;
	left: 230px;
	top: 15px;
	font-size: 14px;
	line-height: 17px;
	color: #bcbccf;
	padding-left: 12px;
}

#header-mainnav {
	position: absolute;
	top: 70px;
	left: 0;
	right: 180px;
	height: 35px;
	font-size: 12px;
	text-decoration:none;

}


#header-mainnav-all {
	width: 120px;
	display: inline-block;
	float: left;
	position: relative;
	z-index: 10;
	text-decoration:none;
}
